In [3]:
import pandas as pd

In [4]:
import re

In [5]:
df = pd.read_csv(r"C:\Python\us_customer_data 1 1.csv")

In [6]:
df.head()

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              950 non-null    object
 3   phone              984 non-null    object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [8]:
df.isna().sum()

customer_id           0
name                  0
email                50
phone                16
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [9]:
df_unique = df.drop_duplicates(subset="customer_id", keep="first") #Removing Duplicates Using Customer ID

In [10]:
df["name"] = df["name"].astype(str).str.strip().str.title() #Clean Customer Names, Remove extra spaces and Convert to Proper Case

In [17]:
df["email"].isna().sum() # it filters null values in the email (specific) column

np.int64(0)

In [20]:
df["email"] = df["email"].astype(str).str.strip().str.title() #Clean Customer Names, Remove extra spaces and Convert to Proper Case

In [24]:
df["email"] = df.apply(
    lambda row: f"{row['name'].lower().replace(' ', '')}@gmail.com"
    if pd.isna(row["email"]) else row["email"].lower(),
    axis=1
)

In [25]:
df.head(28)

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold
5,6,Darrell Gallagher Dvm,larryharris@example.org,379-950-3695,"19887 Brandon Bridge, New Rebecca, MA 94947",03-03-2025,Bronze
6,7,Louis Miller,patriciaelliott@example.org,198-862-7105,"02590 Marshall Well, Sheppardland, CT 88067",30-09-2024,Gold
7,8,Melissa Galloway Md,watsonbenjamin@example.net,548-549-9586,"209 Steven Oval Apt. 022, Mollyhaven, NC 10211",06-10-2023,Bronze
8,9,Matthew Harvey,bgaines@example.net,581-144-7338,"60123 Davis Ford, Mistychester, WA 69400",31-10-2024,Silver
9,10,Rachel White,whitemichael@example.org,410-729-9740,"6182 Brown Mountain, South Gary, IL 29016",25-02-2024,Bronze
10,11,Nicole Yang,archerheather@example.org,589-638-7173,"923 Emily Mills Apt. 281, Port Roy, WI 03921",08-03-2025,Bronze
11,12,Christine Delgado,yfarrell@example.net,310-834-9008,"PSC 4025, Box 2078, APO AA 61121",18-04-2024,Bronze
12,13,Joseph Brennan,khernandez@example.com,486-789-1647,"8890 Keller Hills, North Paul, FM 64749",28-04-2024,Gold
13,14,Eric Thomas,spencer75@example.com,434-130-5478,"352 Joel Extension Suite 962, New Anthony, CO ...",09-05-2024,Bronze
14,15,Laura Perez,sdavid@example.com,319-310-5560,"1518 Green Locks Suite 348, New Brent, FM 51849",04-12-2024,Gold
15,16,Erin Matthews,uhunter@example.net,480-780-3711,"67623 Morgan Hollow, Hillshire, IL 78665",12-11-2023,Bronze
16,17,Melissa Alvarado,parkjohn@example.net,411-857-4974,"USNS Austin, FPO AP 52643",24-06-2024,Gold
17,18,Mr. Ernest Dunn,kelseybrown@example.net,687-543-7471,"3112 Lydia Freeway Suite 927, South Susan, RI ...",27-01-2025,Gold
18,19,David Johnson,marynelson@example.org,244-439-2274,"992 Harris Pines Suite 049, North Marychester,...",21-02-2025,Silver
19,20,Wayne Morales,qwilliams@example.com,875-559-3832,"15344 Hill Pike, Matthewport, FL 45434",22-02-2025,Gold
20,21,Michael Vincent,jonesjeffrey@example.com,685-935-4111,"455 Moore Orchard, New Richardhaven, RI 42023",13-06-2024,Silver
21,22,Tammie Mcgee,nsullivan@example.com,176-840-2659,"6371 Long Path Apt. 940, South Anthonyton, MT ...",24-10-2024,Silver
22,23,Marisa Martinez,zward@example.org,221-609-1291,"5029 Wall Mountain Suite 847, New Chelseabury,...",29-03-2025,Bronze
23,24,Crystal Peterson,taylorcharles@example.com,430-711-1833,"Unit 5741 Box 1124, DPO AA 18219",07-08-2023,Bronze
24,25,Jeremy Alexander,smithkevin@example.com,119-969-9309,"1520 Reid Turnpike, Clarkville, CA 39102",13-06-2025,Silver
25,26,James Graham,chawkins@example.net,997-656-7695,"2809 Young Squares, Lisaside, VA 53732",10-03-2024,Gold
26,27,William Morrison,browningdavid@example.org,486-676-8923,"76577 Keith Falls, West Melissashire, NC 55275",01-08-2024,Gold
27,28,Brandon Hall,brandon hall@gmail.com,974-123-3048,"8143 Robert Cove Apt. 103, Sanchezport, CO 78231",07-04-2024,Gold

In [26]:
df["phone"] = df["phone"].astype(str).str.strip().str.title() ##Clean email, Remove extra spaces and Convert to Proper Case

In [27]:
df["phone"] = df["phone"].str.replace(r"[A-Za-z]", "", regex="true") ## removing letteres in the rows in phone column

In [28]:
df["phone"] = df.apply (
    lambda row:"000-000-0000" if pd.isnull(row["phone"]) else(row["phone"]), axis=1) # adding phone numbers in place of null values

In [29]:
df.isnull().sum()

customer_id          0
name                 0
email                0
phone                0
address              0
registration_date    0
loyalty_status       0
dtype: int64

In [30]:
df.head(36)

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold
5,6,Darrell Gallagher Dvm,larryharris@example.org,379-950-3695,"19887 Brandon Bridge, New Rebecca, MA 94947",03-03-2025,Bronze
6,7,Louis Miller,patriciaelliott@example.org,198-862-7105,"02590 Marshall Well, Sheppardland, CT 88067",30-09-2024,Gold
7,8,Melissa Galloway Md,watsonbenjamin@example.net,548-549-9586,"209 Steven Oval Apt. 022, Mollyhaven, NC 10211",06-10-2023,Bronze
8,9,Matthew Harvey,bgaines@example.net,581-144-7338,"60123 Davis Ford, Mistychester, WA 69400",31-10-2024,Silver
9,10,Rachel White,whitemichael@example.org,410-729-9740,"6182 Brown Mountain, South Gary, IL 29016",25-02-2024,Bronze
10,11,Nicole Yang,archerheather@example.org,589-638-7173,"923 Emily Mills Apt. 281, Port Roy, WI 03921",08-03-2025,Bronze
11,12,Christine Delgado,yfarrell@example.net,310-834-9008,"PSC 4025, Box 2078, APO AA 61121",18-04-2024,Bronze
12,13,Joseph Brennan,khernandez@example.com,486-789-1647,"8890 Keller Hills, North Paul, FM 64749",28-04-2024,Gold
13,14,Eric Thomas,spencer75@example.com,434-130-5478,"352 Joel Extension Suite 962, New Anthony, CO ...",09-05-2024,Bronze
14,15,Laura Perez,sdavid@example.com,319-310-5560,"1518 Green Locks Suite 348, New Brent, FM 51849",04-12-2024,Gold
15,16,Erin Matthews,uhunter@example.net,480-780-3711,"67623 Morgan Hollow, Hillshire, IL 78665",12-11-2023,Bronze
16,17,Melissa Alvarado,parkjohn@example.net,411-857-4974,"USNS Austin, FPO AP 52643",24-06-2024,Gold
17,18,Mr. Ernest Dunn,kelseybrown@example.net,687-543-7471,"3112 Lydia Freeway Suite 927, South Susan, RI ...",27-01-2025,Gold
18,19,David Johnson,marynelson@example.org,244-439-2274,"992 Harris Pines Suite 049, North Marychester,...",21-02-2025,Silver
19,20,Wayne Morales,qwilliams@example.com,875-559-3832,"15344 Hill Pike, Matthewport, FL 45434",22-02-2025,Gold
20,21,Michael Vincent,jonesjeffrey@example.com,685-935-4111,"455 Moore Orchard, New Richardhaven, RI 42023",13-06-2024,Silver
21,22,Tammie Mcgee,nsullivan@example.com,176-840-2659,"6371 Long Path Apt. 940, South Anthonyton, MT ...",24-10-2024,Silver
22,23,Marisa Martinez,zward@example.org,221-609-1291,"5029 Wall Mountain Suite 847, New Chelseabury,...",29-03-2025,Bronze
23,24,Crystal Peterson,taylorcharles@example.com,430-711-1833,"Unit 5741 Box 1124, DPO AA 18219",07-08-2023,Bronze
24,25,Jeremy Alexander,smithkevin@example.com,119-969-9309,"1520 Reid Turnpike, Clarkville, CA 39102",13-06-2025,Silver
25,26,James Graham,chawkins@example.net,997-656-7695,"2809 Young Squares, Lisaside, VA 53732",10-03-2024,Gold
26,27,William Morrison,browningdavid@example.org,486-676-8923,"76577 Keith Falls, West Melissashire, NC 55275",01-08-2024,Gold
27,28,Brandon Hall,brandon hall@gmail.com,974-123-3048,"8143 Robert Cove Apt. 103, Sanchezport, CO 78231",07-04-2024,Gold
28,29,Morgan Wilson,michelle12@example.net,258-480-2466,"05880 Hudson Row, Jessefurt, KS 54128",04-11-2024,Silver
29,30,Heather Hill,qwillis@example.com,442-456-8115,"4339 Brown Crescent, Lambchester, SD 62832",15-12-2024,Silver
30,31,Louis Beasley,bjones@example.net,234-311-3270,"71975 Smith Drive Suite 746, Bairdmouth, MP 70886",18-09-2023,Bronze
31,32,Julie Shelton,ryanpatel@example.net,307-103-5146,"USNS Brown, FPO AP 55711",02-12-2024,Gold
32,33,Erin Stephens,kyle83@example.com,649-443-8577,"5911 Amy Creek Suite 329, Michaelside, CO 25722",02-08-2024,Silver
33,34,Christopher Powers,nsimmons@example.com,341-277-2276,"27599 David Mews, Juliefort, AL 92098",09-06-2024,Silver
34,35,Rachel Lang,huntcourtney@example.org,343-776-8211,"PSC 5662, Box 7419, APO AA 70596",13-11-2024,Silver
35,36,Christopher Clark,christopher clark@gmail.com,119-609-3438,"2325 Danielle Knolls Suite 719, Gabrielleview,...",13-01-2024,Gold

In [31]:
df["email"] = df["email"].str.replace(" ", "", regex=False)

In [33]:
df.head(1000)

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold
...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,638-989-9441,"34746 Smith Gateway, New Sarah, AS 12715",10-02-2025,Silver
996,997,Jodi Simpson,eric24@example.org,483-625-2940,"2876 Tucker Road Suite 947, North Tommyborough...",18-04-2024,Bronze
997,998,Crystal Brown,pshaffer@example.net,390-747-3088,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",30-08-2024,Bronze
998,999,Gregory Duarte,caitlindunlap@example.org,257-409-8196,"Unit 6377 Box 7662, DPO AP 03300",16-05-2024,Gold
999,1000,Jason Walls,michael42@example.com,692-333-6880,"95002 Bruce Rue, Camachoport, MH 58723",10-12-2024,Bronze

In [ ]:
df.to_csv(