In [159]:
import pandas as pd

In [160]:
import re

In [161]:
customer_data = pd.read_csv(r"C:\Python\us_customer_data 1 1.csv")

In [162]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              950 non-null    object
 3   phone              984 non-null    object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [163]:
customer_data.head()

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold

In [164]:
customer_data = customer_data.drop_duplicates(subset="customer_id", keep="first")

In [165]:
customer_data.isna().sum()

customer_id           0
name                  0
email                50
phone                16
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [166]:
customer_data["name"] = customer_data["name"].astype(str).str.strip().str.title()

In [167]:
customer_data["name"]

0         Michelle Kidd
1           Brad Newton
2          Larry Torres
3        Kimberly Price
4      Matthew Phillips
             ...
995      Jerry Mcdaniel
996        Jodi Simpson
997       Crystal Brown
998      Gregory Duarte
999         Jason Walls
Name: name, Length: 1000, dtype: object

In [168]:
customer_data["email"].isna().sum()

np.int64(50)

In [169]:
customer_data["email"] = customer_data.apply(
    lambda row: f"{row["name"].lower().replace(" ", "")}@gmail.com"
    if pd.isna(row["email"]) else (row["email"]),
axis=1
)

In [170]:
customer_data["email"].isna().sum()

np.int64(0)

In [171]:
customer_data.head(28)

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold
5,6,Darrell Gallagher Dvm,larryharris@example.org,379-950-3695,"19887 Brandon Bridge, New Rebecca, MA 94947",03-03-2025,Bronze
6,7,Louis Miller,patriciaelliott@example.org,198-862-7105,"02590 Marshall Well, Sheppardland, CT 88067",30-09-2024,Gold
7,8,Melissa Galloway Md,watsonbenjamin@example.net,548-549-9586,"209 Steven Oval Apt. 022, Mollyhaven, NC 10211",06-10-2023,Bronze
8,9,Matthew Harvey,bgaines@example.net,581-144-7338,"60123 Davis Ford, Mistychester, WA 69400",31-10-2024,Silver
9,10,Rachel White,whitemichael@example.org,410-729-9740,"6182 Brown Mountain, South Gary, IL 29016",25-02-2024,Bronze
10,11,Nicole Yang,archerheather@example.org,589-638-7173,"923 Emily Mills Apt. 281, Port Roy, WI 03921",08-03-2025,Bronze
11,12,Christine Delgado,yfarrell@example.net,310-834-9008,"PSC 4025, Box 2078, APO AA 61121",18-04-2024,Bronze
12,13,Joseph Brennan,khernandez@example.com,486-789-1647,"8890 Keller Hills, North Paul, FM 64749",28-04-2024,Gold
13,14,Eric Thomas,spencer75@example.com,434-130-5478,"352 Joel Extension Suite 962, New Anthony, CO ...",09-05-2024,Bronze
14,15,Laura Perez,sdavid@example.com,319-310-5560,"1518 Green Locks Suite 348, New Brent, FM 51849",04-12-2024,Gold
15,16,Erin Matthews,uhunter@example.net,480-780-3711,"67623 Morgan Hollow, Hillshire, IL 78665",12-11-2023,Bronze
16,17,Melissa Alvarado,parkjohn@example.net,411-857-4974,"USNS Austin, FPO AP 52643",24-06-2024,Gold
17,18,Mr. Ernest Dunn,kelseybrown@example.net,687-543-7471,"3112 Lydia Freeway Suite 927, South Susan, RI ...",27-01-2025,Gold
18,19,David Johnson,marynelson@example.org,244-439-2274,"992 Harris Pines Suite 049, North Marychester,...",21-02-2025,Silver
19,20,Wayne Morales,qwilliams@example.com,875-559-3832,"15344 Hill Pike, Matthewport, FL 45434",22-02-2025,Gold
20,21,Michael Vincent,jonesjeffrey@example.com,685-935-4111,"455 Moore Orchard, New Richardhaven, RI 42023",13-06-2024,Silver
21,22,Tammie Mcgee,nsullivan@example.com,176-840-2659,"6371 Long Path Apt. 940, South Anthonyton, MT ...",24-10-2024,Silver
22,23,Marisa Martinez,zward@example.org,221-609-1291,"5029 Wall Mountain Suite 847, New Chelseabury,...",29-03-2025,Bronze
23,24,Crystal Peterson,taylorcharles@example.com,430-711-1833,"Unit 5741 Box 1124, DPO AA 18219",07-08-2023,Bronze
24,25,Jeremy Alexander,smithkevin@example.com,119-969-9309,"1520 Reid Turnpike, Clarkville, CA 39102",13-06-2025,Silver
25,26,James Graham,chawkins@example.net,997-656-7695,"2809 Young Squares, Lisaside, VA 53732",10-03-2024,Gold
26,27,William Morrison,browningdavid@example.org,486-676-8923,"76577 Keith Falls, West Melissashire, NC 55275",01-08-2024,Gold
27,28,Brandon Hall,brandonhall@gmail.com,974-123-3048,"8143 Robert Cove Apt. 103, Sanchezport, CO 78231",07-04-2024,Gold

In [172]:
customer_data["phone"].isna().sum()

np.int64(16)

In [173]:
customer_data["phone"] = customer_data["phone"].str.replace(r"[A-Za-z]", '', regex="true")

In [174]:
customer_data["phone"] = customer_data.apply(
    lambda row: "000-000-0000" if pd.isna(row["phone"]) else row["phone"],
    axis=1
)

In [175]:
customer_data.head(25)

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold
5,6,Darrell Gallagher Dvm,larryharris@example.org,379-950-3695,"19887 Brandon Bridge, New Rebecca, MA 94947",03-03-2025,Bronze
6,7,Louis Miller,patriciaelliott@example.org,198-862-7105,"02590 Marshall Well, Sheppardland, CT 88067",30-09-2024,Gold
7,8,Melissa Galloway Md,watsonbenjamin@example.net,548-549-9586,"209 Steven Oval Apt. 022, Mollyhaven, NC 10211",06-10-2023,Bronze
8,9,Matthew Harvey,bgaines@example.net,581-144-7338,"60123 Davis Ford, Mistychester, WA 69400",31-10-2024,Silver
9,10,Rachel White,whitemichael@example.org,410-729-9740,"6182 Brown Mountain, South Gary, IL 29016",25-02-2024,Bronze
10,11,Nicole Yang,archerheather@example.org,589-638-7173,"923 Emily Mills Apt. 281, Port Roy, WI 03921",08-03-2025,Bronze
11,12,Christine Delgado,yfarrell@example.net,310-834-9008,"PSC 4025, Box 2078, APO AA 61121",18-04-2024,Bronze
12,13,Joseph Brennan,khernandez@example.com,486-789-1647,"8890 Keller Hills, North Paul, FM 64749",28-04-2024,Gold
13,14,Eric Thomas,spencer75@example.com,434-130-5478,"352 Joel Extension Suite 962, New Anthony, CO ...",09-05-2024,Bronze
14,15,Laura Perez,sdavid@example.com,319-310-5560,"1518 Green Locks Suite 348, New Brent, FM 51849",04-12-2024,Gold
15,16,Erin Matthews,uhunter@example.net,480-780-3711,"67623 Morgan Hollow, Hillshire, IL 78665",12-11-2023,Bronze
16,17,Melissa Alvarado,parkjohn@example.net,411-857-4974,"USNS Austin, FPO AP 52643",24-06-2024,Gold
17,18,Mr. Ernest Dunn,kelseybrown@example.net,687-543-7471,"3112 Lydia Freeway Suite 927, South Susan, RI ...",27-01-2025,Gold
18,19,David Johnson,marynelson@example.org,244-439-2274,"992 Harris Pines Suite 049, North Marychester,...",21-02-2025,Silver
19,20,Wayne Morales,qwilliams@example.com,875-559-3832,"15344 Hill Pike, Matthewport, FL 45434",22-02-2025,Gold
20,21,Michael Vincent,jonesjeffrey@example.com,685-935-4111,"455 Moore Orchard, New Richardhaven, RI 42023",13-06-2024,Silver
21,22,Tammie Mcgee,nsullivan@example.com,176-840-2659,"6371 Long Path Apt. 940, South Anthonyton, MT ...",24-10-2024,Silver
22,23,Marisa Martinez,zward@example.org,221-609-1291,"5029 Wall Mountain Suite 847, New Chelseabury,...",29-03-2025,Bronze
23,24,Crystal Peterson,taylorcharles@example.com,430-711-1833,"Unit 5741 Box 1124, DPO AA 18219",07-08-2023,Bronze
24,25,Jeremy Alexander,smithkevin@example.com,119-969-9309,"1520 Reid Turnpike, Clarkville, CA 39102",13-06-2025,Silver

In [177]:
customer_data["phone"] = customer_data["phone"].str.replace(r"\D", "", regex=True)

In [178]:
customer_data["phone"] = customer_data.apply(
    lambda row: f"{row["phone"][:3]} ({row["phone"][3:6]})-{row["phone"][6:10]}"
    if len(row["phone"]) >= 10 else'null',
    axis = 1
    )

In [179]:
customer_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              1000 non-null   object
 3   phone              1000 non-null   object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [180]:
customer_data.head()

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619 (723)-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold
1,2,Brad Newton,taylorcatherine@example.net,537 (674)-1158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver
2,3,Larry Torres,dsanchez@example.net,810 (256)-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423 (222)-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold
4,5,Matthew Phillips,qwilliams@example.com,220 (763)-3522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold